* {
    margin: 0;
    padding: 0;
}

h1 {
    font-weight: normal;
    margin: 0 20px;
}

h2 {
    font-size: 1.3em;
}

p {
    margin-top: 15px;
    font-size: .9em;
    text-align: center;
}

a {
    text-decoration: none;
}

li a {
    color: black;
}

li a:hover {
    color: lightgrey;
}

.wrapper {
    scroll-behavior: smooth;
    height: 100vh;
    overflow: scroll;
    scroll-snap-type: y mandatory;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.title {
    color: goldenrod;
    display: flex;
    justify-content: center;
    align-items: center;

    animation: 1.2s ease-out slideDown;
}

.landingpage li {
    cursor: pointer;
}

.landingpage li:hover {
    color: coral;
}

.centered-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    align-items: center;
    scroll-snap-align: center;
    scroll-snap-stop: always;
}

.landingpage ul {
    margin-top: 20px;
    padding-top: 10px;
    border-top: solid 2px black;
    list-style-type: none;
    text-align: center;
    font-size: 1.5em;
    animation: 1.2s ease-out slideUp;
}

.landingpage {
    line-height: 2.2;
    letter-spacing: .2em;
    background-color: beige;
}

.bg-image {
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.bg-blur-container {
    backdrop-filter: blur(12px) grayscale(40%);
    width: 100vw;
    height: 100vh;
}

.project-square {
    font-size: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    width: 400px;
    height: 400px;
    padding: 20px;
    transition: all .5s;
    opacity: .85;
    background-color: black;
    color: white;
}

.project-square a {
    color: white;
}

.project-name {
    font-size: 2em;
    margin-top: 25px;
    margin-bottom: 15px;
    padding: 10px 30px;
    border: solid 1px white;
    transition: all .5s;
}

.project-name:hover {
    padding: 10px 60px;
    color: goldenrod;
    border-color: goldenrod;
}

.bg-color {
    background-image: linear-gradient(beige, white);
}

.resume {
    padding: 30px;
    max-width: 60vw;
    color: black;
    font-size: 1.2em;
    line-height: 2.2;
    letter-spacing: .1em;
}

.inner-div {
    text-align: left;
    margin: 10px;
    font-size: 1.6em;
}

.sub-header {
    list-style-position: inside;
    box-sizing: border-box;
    margin-top: 10px;
    border-top: solid 1px black;
    padding: 5px;
}

.contact {
    color: beige;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    transition: all .5s;
}

.flex-contact {
    border-top: solid 1px grey;
    padding-top: 5px;
    display: flex;
    justify-content: space-evenly;
}

.contact h2 {
    margin-bottom: 30px;
}

.sub-contact {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    margin: 15px;
    padding: 10px;
    color: beige;
}

.contact-link {
    cursor: pointer;
    transition: all .5s;
}

.contact-link:hover {
    color: coral;
    font-size: 1.1em;
}

.icon {
    font-size: 3em;
    color: beige;
    transition: all .5s;
}

.icon:hover {
    color: goldenrod;
}

.github-icon-container {
    font-size: 3em;
    cursor: pointer;
}

.github-icon-container a {
    color: grey;
}

.github-icon-container a:hover {
    color: beige;
}

#home-button {
    cursor: pointer;
    color: darkgrey;
    font-size: 2.2em;
    opacity: .7;
    margin: 20px;
    position: fixed;
    top: 0px;
    z-index: 99;
}

#home-button:hover {
    color: goldenrod;
}


/* KEYFRAMES */
@keyframes slideDown {
    0% {
        transform: translateY(-100vh);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes slideUp{
    0% {
        transform: translateY(100vh);
    }
    100% {
        transform: translateY(0);
    }
}


/* RESPONSIVE */
@media only screen and (max-width: 600px) {

    p {
        font-size: .6em;
    }

    .landingpage h1 {
        font-size: 1.5em;
    }

    .landingpage li {
        font-size: .8em;
    }

    /* Fixes bg img error on mobile */
    .bg-image {
        background-attachment: initial;
    }

    .title {
        flex-direction: column;
    }

    .project-name {
        padding: 10px;
        font-size: 1.2em;
    }

    .project-name:hover {
        padding: 10px 20px;
    }

    .project-square {
        height: 220px;
        width: 220px;
        justify-content: space-evenly;
        line-height: 1.0;
    }

    .github-icon-container {
        font-size: 2.5em;
    } 

    .resume {
        max-width: 95vw;
        color: black;
        font-size: 1em;
        line-height: 1.3;
        letter-spacing: 0em;
    }
  
    .flex-contact {
        flex-direction: column;
    }

    .sub-contact {
        margin: 5px;
    }

    .icon {
        font-size: 1.5em;
    }

    #home-button {
        font-size: 1.7em;
        opacity: .7;
        margin: 10px;
    }

}